/* CSS Document */

.blog-news {
	display: block;
}
.blog-news-item {
	display: block;
	clear: both;
	margin: 0 0 5px;
	padding: 8px;
	font-size: 13px;
	line-height: 14px;
	border-radius: 10px;
	background: RGBA(255,255,255,0.50);
	border: 1px solid #DDD;
	box-sizing: border-box;
}
.blog-news-item:after {
	content: " ";
	clear: both;
	display: block;
	height: 0px;
	font-size: 0;
	line-height: 0;
}
.blog-news-item:hover {
	background: RGBA(255,255,255,1.00);
	color: #34383d;
	border: 1px solid #a90f10;
}
.blog-news-item p {
	white-space: normal;
	margin: 0;
}
.blog-news-item p.blog-title {
	font-size: 13px;
	line-height: 14px;
	font-weight: 400;
}
.blog-news-item p.blog-date {
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	padding-top: 4px;
}
.blog-news-item p,
.blog-news-item a {
	font-style: italic;
	color: #494949;
}
.blog-news-item:hover,
.blog-news-item:hover p,
.blog-news-item:hover a {
	color: #34383d;
}
.blog-news-item .feed_informer_first_image {
	vertical-align: top;
	max-width: 100%;
	width: 60px;
	height: 60px;
	margin: 1px 10px 1px 1px;
	border-radius: 100px;
	overflow: hidden;
	display: inline-block;
	float: left;
	background: #292B33;
	box-sizing: border-box;
}
.blog-news-item img[src='Error.src'] {
	display: none !important;
}
.twitter-news {
	display: block;
}
.twitter-news-item {
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	font-size: 13px;
	line-height: 14px;
	font-style: italic;
	margin: 0 0 5px;
	padding: 8px;
	font-weight: 400;
	border-radius: 10px;
	background: RGBA(255,255,255,0.50);
	color: #494949;
	border: 1px solid #DDD;
	white-space: normal;
}
.twitter-news-item:hover {
	background: RGBA(255,255,255,1.00);
	color: #34383d;
	border: 1px solid #40bff5;
}
.twitter-news-item a {
	color: #494949;
	text-decoration: none;
}
.twitter-news-item a:hover {
	color: #34383d;
}
.twitter-news-item span:before {
	display: inline-block;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	text-align: center;
	content: '\e9ad';
}
.twitter-news-item span {
	display: inline-block;
	color: #40bff5;
	border-radius: 50%;
	line-height: 26px;
	font-size: 26px;
	text-align: center;
	position: absolute;
	top: calc(50% - 13px);
	left: 10px;
}
.twitter-news-item div {
	display: inline-block;
	position: relative;
	top: 0px;
	left: 35px;
	width: calc(100% - 40px);
	/* -------- Fix Large URLs -------- */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;/* -------- End Fix Large URLs -------- */
}
.news-wrap {
	margin: 0 0 15px;
	background: RGBA(255,255,255,0.15);
	padding: 8px;
	border: 1px solid #DDD;
	border-radius: 3px;
	position: relative;
	display: block;
	z-index: 1;
	width: 100%;
	height: 371px;
	overflow: hidden;
	box-sizing: border-box;
}
.news-wrap:after {
	display: block;
	content: " ";
	position: absolute;
	z-index: 2;
	bottom: 8px;
	height: 50px;
	width: calc(100% - 16px);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dddddd+100&0+0,0.5+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(221,221,221,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(221,221,221,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(221,221,221,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80dddddd', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #CCC;
	border-radius: 5px
}
.marquee {
	position: relative;
	display: block;
	width: 100%;
	height: calc(100% - 8px);
	overflow: hidden;
}
.marquee {
	cursor: pointer;
}
